body{
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}
h1{
  font-family: 'Pangolin', cursive;
  font-size: 40px;
}
.introZombie{
 margin-left: 10%;
 height: 120px;
}
form{
  margin-top: 8%;
}
.radio{
  display: inline-block;
  font-size: 25px;
}
p{
  max-width: 70%;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 5%;
}
.score{
  display: inline-block;
  background-image: url("../decor/sign1.png");
  background-size: 100%;
  color: darkRed;
  font-size: 20px;
  width: 90px;
  border-radius: 2%;
  margin: auto;
}
#countDownTimer{
  background-color: darkGray;
  width: 150px;
  height: 30px;
  margin: auto;
  border-radius: 10%;
  padding-bottom: 2%;
  display: inline-block;
}
.button{
  color: darkRed;
  width: 15%;
  border-radius: 10%;
  margin-bottom: 5px;
  min-width: 68px;
}
#start{
  height: 40px;
  margin-left: 15%;
}
#reset{
  margin: auto;
  margin-top: 2%;
  display: none;
}
.board{
  width: 90%;
  max-width: 800px;
  max-height: 800px;
  min-width: 320px;
  background-image: url('../decor/grass.png');
  background-size: 100%;
  /*background-color: green;*/
  margin: auto;
  padding-bottom: 10px;
  border-radius: 20px;
  cursor: crosshair;
  box-shadow: 0 0 8px 8px black inset;
}
.row{
  max-width: 800px;
  min-width: 320px;
  margin: auto;
}
.short{
  max-width: 550px;
}
.hole{
  display: inline-block;
  min-height: 70px;
  min-width: 70px;
  max-width: 20%;
  max-height: 120px;
  margin: 6%;
}
.tombstone{
  display: block;
  position: relative;
  height: 95px;
  left: 20px;
  z-index: 1;
}
.dirt{
  display: block;
  width: 120px;
  height: 90px;
  position: relative;
  top: -100px;
  z-index: 3;
}
.zombie{
  position: relative;
  top: -70px;
  right: -5px;
  z-index: 2;
  height: 90px;
  width: 80px;
  visibility: hidden;
}
#kapow{
  position: relative;
  z-index: 999;
}
.modal{
  background-color: green;
  max-width: 75%;
  max-height: 200px;
  margin: auto;
  border-radius: 15%;
}
#modalContent{
  padding: 5px;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 2%;
}
.modalZombie{
 margin: auto;
 position: relative;
 top: -13px;
 height: 95px;
}
.highScoreBoard{
  display: inline-block;
  margin: auto;
}
#tryAgain{
  display: block;
  margin: auto;
  padding-top: 15%;
  min-width: 300px;
  min-height: 500px;
}